div.related {
  background-color: rgb(46, 26, 71);
}


div.related a {
  color: white;
}

div.document,
div.body {
  background-color: rgb(250, 250, 250);
}

body {
  color: #2E1A47;
  font-family: 'Source Sans Pro', sans-serif;
}

div.body {
  font-size: 1rem;
  font-weight: 300;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(../fonts/source_sans.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

div.body h1 {
  border-top: 20px solid transparent;
}

div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
  font-family: 'Source Sans Pro', sans-serif;
  text-shadow: none;
  background-color: transparent;
  padding: 0px;
}

pre {
  background-color: rgb(65, 47, 88);
  color: rgb(16, 207, 201);
  white-space: pre;
  overflow-wrap: break-word;
  border-radius: 0.5rem;
  padding: 2.25rem;
  overflow: auto;
  border: none;
}

div.sphinxsidebar h3, div.sphinxsidebar h4 {
   text-shadow: none;
   font-weight: 600;
   font-size: 16px;
}

a, div.sphinxsidebar a {
  color: #2E1A47;
  text-decoration: underline;
}

div.body h1 {
   font-size: 2.5rem;
   font-weight: 300;
}

div.sphinxsidebar {
  font-size: 1rem;
  line-height: 1.2rem;
}